<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>upload Image</title>
  </head>
  <body>
    <div class="container">
      <h1 class="upload__title">Upload Image</h1>
      <form method="post" action="/" enctype="multipart/form-data">
        <div class="file-upload">
          <label for="image">Choose a image</label>
          <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
